.idea
target
*.iml
copyright
dataSources
libraries
.name
compiler.xml
dataSources.local.xml
dataSources.xml
encodings.xml
misc.xml
modules.xml
uiDesigner.xml
vcs.xml
workspace.xml
artifacts
lib
/Задание.txt
*.cmd
.cleardir